<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xm.zeus.service">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".TestRemoteMsgActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ShowMsgActivity"></activity>

        <service
            android:name=".ZeusRemoteService"
            android:process=":push" />

        <receiver android:name="com.xm.zeus.service.receiver.RebirthReceiver">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
